---
- name: Create org and repos
  gather_facts: no
  hosts: localhost
  vars:
    quay_route: http://registry-quay-app

    quay_users:
      - username: user1
        password: openshift
        email: user1@local.com

    quay_teams:
      - name: maintainers
        organization: coolstore
        description: Maintainers of coolstore images
        members:
          - user1
        role: member

    quay_organizations:
      - name: coolstore
        email: coolstore@local.com
        time_machine_expiration: 14d

    quay_repositories:
      - name: inventory-quarkus
        organization: coolstore
        description: Inventory
        permissions:
          - name: maintainers
            type: team
            role: admin
      - name: web-nodejs
        organization: coolstore
        description: Frontend
        permissions:
          - name: maintainers
            type: team
            role: admin
      - name: vertx-gateway
        organization: coolstore
        description: Gateway
        permissions:
          - name: maintainers
            type: team
            role: admin
      - name: catalog-spring-boot
        organization: coolstore
        description: Catalog
        permissions:
          - name: maintainers
            type: team
            role: admin

  tasks:
    - name: Create users
      herve4m.quay.quay_user:
        username: "{{ item.username }}"
        email: "{{ item.email }}"
        password: "{{ item.password }}"
        quay_host: "{{ quay_route }}"
        quay_token: "{{ access_token }}"
        state: present
      with_items: "{{ quay_users }}"

    - name: create organizations
      herve4m.quay.quay_organization:
        name: "{{ item.name }}"
        email: "{{ item.email }}"
        time_machine_expiration: "{{ item.time_machine_expiration }}"
        state: present
        quay_host: "{{ quay_route }}"
        quay_token: "{{ access_token }}"
      with_items: "{{ quay_organizations }}"

    - name: Create teams
      herve4m.quay.quay_team:
        name: "{{ item.name }}"
        organization: "{{ item.organization }}"
        description: "{{ item.description }}"
        role: "{{ item.role }}"
        members: "{{ item.members }}"
        append: false
        state: present
        quay_host: "{{ quay_route }}"
        quay_token: "{{ access_token }}"
      with_items: "{{ quay_teams }}"

    - name: create repositories
      herve4m.quay.quay_repository:
        name: "{{ item.organization }}/{{ item.name }}"
        visibility: private
        description: "{{ item.description }}"

        perms: "{{ item.permissions }}"
        state: present
        quay_host: "{{ quay_route }}"
        quay_token: "{{ access_token }}"
      with_items: "{{ quay_repositories }}"